@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <button class="btn-sm btn-primary" @onclick="AboutClicked">About</button>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<MessageBox @ref="MessageBoxAbout" />

@code {
    MessageBox? MessageBoxAbout;

    async Task AboutClicked()
    {
        if (MessageBoxAbout == null) return;

        string message = "Developed by Ted Faison. No license required for personal or commercial use.";
        await MessageBoxAbout.Show("About this program", message);
    }
}
