<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorComponents</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dialogs-modal">
                <span class="oi oi-plus" aria-hidden="true"></span> Modal Dialogs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dialogs-modeless">
                <span class="oi oi-plus" aria-hidden="true"></span> Modeless Dialogs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dropdowns">
                <span class="oi oi-plus" aria-hidden="true"></span> Dropdown Controls
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tabs">
                <span class="oi oi-plus" aria-hidden="true"></span> Tabs
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sections">
                <span class="oi oi-plus" aria-hidden="true"></span> Collapsible Sections
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
