.dialog-with-bottom-bar {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.bottom-bar {
    display: flex;
    width: 100%;
    justify-content: center;
    padding-top: 4px;
}

.tab-page1 {
    width: 490px;
    height: 800px;
}

.tab-page2 {
    width: 300px;
    height: 490px;
}

.tab-page-fixed-size {
    min-width: 500px;
    max-width: 500px;
    min-height: 500px;
    max-height: 500px;
    overflow: auto;
}
