@page "/sections"

<PageTitle>Sections</PageTitle>

<h1>Sections</h1>

<p>This page shows a series of sections that can be expanded and collapsed. By default sections are shown expanded.</p>

<Section Css="mb-2" Title="Section 1">
    <div class="section-content">
        Add your own controls and components here
    </div>
</Section>

<Section Css="mb-2" Title="Section 2 (collapsed by default)" IsExpanded=false>
    <div class="section-content">
        Add your own controls and components here
    </div>
</Section>

<Section Title="Section 3 - not collapsible" IsCollapsible=false>
    <div class="section-content">
        Add your own controls and components here
    </div>
</Section>

@code {

}
